aiohttp==3.9.3
fastapi==0.110.0
Jinja2
m2cgen==0.10.0
micromlgen==1.1.28
motor==2.5.1
numpy
pandas
pydantic==2.6.3
PyJWT==2.8.0
scikit_learn==1.4.0
setuptools==69.1.1
markupsafe==2.1.5
uvicorn==0.27.1
Pebble==5.0.6
orjson==3.9.15
lttbc
h5py
boto3
requests
tensorflow
torch
tensorflow-model-optimization
