aiohttp==3.8.1
fastapi==0.75.2
Jinja2==2.10.1
m2cgen==0.9.0
micromlgen==1.1.26
motor==2.5.1
numpy==1.20.0
pandas==1.3.5
pydantic==1.9.0
PyJWT==2.3.0
pymongo==3.12.3
scikit_learn==1.0.2
setuptools==45.2.0
starlette==0.17.1
markupsafe==2.0.1
tsfresh==0.19.0
uvicorn==0.13.4
Pebble==4.6.3