{% if left[i] != right[i] %}
    if (features[{{ features[i] }} / num_features][{{ features[i] }} % num_features] <= {{ thresholds[i] }}) {
        {% with i = left[i] %}
            {% include 'decisionTree_tree.jinja' %}
        {% endwith %}
    }
    else {
        {% with i = right[i] %}
            {% include 'decisionTree_tree.jinja' %}
        {% endwith %}
    }
{% else %}
    return {{ classes[i].argmax() }};
{% endif %}