{% block predict %}
int {{name}}(Matrix &features) {
    int num_sensors = features.size();
    int num_features = features[0].size();
    {% include 'Classifier/Tree/decisionTree_tree.jinja' %}
}
{% endblock %}